{{!-- templates/actors/parts/subparts/mopdrop.hbs --}}

<div class="field mark-field">
  <label>Mark of Purpose</label>
  <select name="system.details.markPurpose" data-dtype="String">
    {{selectOptions config.marks selected=system.details.markPurpose}}
  </select>
</div>

