<form class="marked sheet item" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
    </h1>
  </header>

  <section class="sheet-body">
    <div class="field">
      <label>Type</label>
      <input type="text" value="{{item.type}}" disabled />
    </div>

    <div class="field">
      <label>Description</label>
      <textarea name="system.description">{{system.description}}</textarea>
    </div>
  </section>
</form>

